body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.menu
{
    float: left;
    position: relative;
    width: 250px;
    height: 625px;
    margin: 0;
    padding: 10px 0;
    background-color: #222831;
    box-sizing: border-box;
}

.menu p
{
    position: relative;
    top: -45px;
    color: #EEEEEE;
    height: 50px;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 3px;
}

.menu p span
{
    color: #FFD369;
}

.menumenu
{
    position: relative;
    top: -50px;
    text-align: left;
    left: 5px;
}

.menumenu ul
{
    margin: 0;
    padding: 0;
}

.menumenu ul li
{
    position: relative;
    left: 0;
    list-style: none;
    width: 245px;
    height: 45px;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
}

.menumenu ul li:hover
{
    background-color: #FFD369;
}

.menumenu ul li a
{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #EEEEEE;
    font-weight: bold;
    height: 45px;
    width: 245px;
    padding: 12px 5px;
}

.menumenu ul li a:hover
{
    color: #222831;
}

.table
{
    float: right;
    position: relative;
    left: -140px;
    top: 25px;
}

.table h3
{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #222831;
}

.table h3 strong
{
    color: #eee;
    background-color: #222831;
    padding: 3px;
    border-radius: 5px;
}

.table h3 span
{
    color: #FFD369;
}

.table a
{
    display: block;
    width: 110px;
    height: 20px;
    border: 1px solid #222831;
    font-size: 15px;
    background-color: #222831;
    padding: 8px;
    color: #EEEEEE;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 710px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.table a span
{
    color: #FFD369;
}

.table a:hover
{
    background-color: black;
}

.table table
{
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .2);
}

.table table thead
{
    background-color: #FFD369;
}

.table table thead tr th{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #222831;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
}

.table table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #222831;
    background-color: #EEEEEE;
    padding: 12px;
    text-align: center;
}

.table table tbody tr.genap td
{
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #222831;
    background-color: rgb(230, 230, 230);
    padding: 12px;
    text-align: center;
}

.table table tbody tr.last td
{
    border-bottom: 2px solid #FFD369;
}